{% extends "header.html" %}
{%block title%} Edit Employee {%endblock%}
{%block content%}
<div>
    <p style="color: blue;"><a style="color: blue;" href="{{ url_for('employee') }} ">Employee</a>-> Edit Employee -> Update SUCCESSFUL</p>
</div>
<h1>UPDATED SUCCESSFUL</h1><br>
<h2>Following Employee has been Updated to the database</h2><br>
<h2>{{ employeeId }}</h2><br>
<h2>{{ name}}</h2><br>
<a href="/employee"> <button type="button" class="btn btn-success">GO BACK EMPLOYEE PAGE</button> </a>
{%endblock%}
		
